@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

/* 
    Breakpoint arguments:
    - small-phone
    - phone
    - small-tab-port
    - tab-port
    - tab-land
    - big-deskt
*/

@mixin respond($breakpoint) {
    @if ($breakpoint) == x-small-phone {
        @media (max-width: 22.5em) {
            // 480 px
            @content;
        }
    }

    @if ($breakpoint) == small-phone-land {
        // 2200 px
        @media (max-height: 30em) {
            @content;
        }
    }

    @if ($breakpoint) == small-phone {
        @media (max-width: 30em) {
            // 480 px
            @content;
        }
    }

    @if ($breakpoint) == phone {
        @media (max-width: 37.5em) {
            // 600 px
            @content;
        }
    }

    @if ($breakpoint) == small-tab-port {
        @media (max-width: 45.25em) {
            // 720 px
            @content;
        }
    }

    @if ($breakpoint) == tab-port {
        @media (max-width: 56.25em) {
            // 900 px
            @content;
        }
    }

    @if ($breakpoint) == tab-land {
        @media (max-width: 75em) {
            // 1200 px
            @content;
        }
    }

    @if ($breakpoint) == small-deskt {
        // 1440 px
        @media (max-width: 100em) {
            @content;
        }
    }

    @if ($breakpoint) == big-deskt {
        // 2200 px
        @media (min-width: 140em) {
            @content;
        }
    }

    @if ($breakpoint) == 4k-deskt {
        // 2200 px
        @media (min-width: 220em) {
            @content;
        }
    }
}
