// COLORS
$color-primary: #ffcc73;
$color-primary-dark: #a0814c;
$color-secondary: #040f2b;
$color-dark: #191d28;
$color-x-dark: #161922;
$color-xx-dark: #0f1118;

// $color-primary: rgb(14, 151, 99);
// $color-primary-dark: rgb(9, 114, 74);
// $color-secondary: #0e0e0e;
// $color-dark: #1f1f1f;
// $color-x-dark: #0e0e0e;
// $color-xx-dark: #000000;

//$color-dark: #191d28;
//$color-x-dark: #161922;

$color-white: #ffffff;
$color-black: #040f2b;

$color-grey-dark: #333;
$color-grey-light: rgb(197, 197, 197);
$color-grey: #555;

$color-danger: rgb(218, 50, 28);

// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 35rem;
$gutter-section-start: 5rem;
$gutter-section-end: 11rem;

//RWD
$gutter-horizontal-small: 22rem;
$gutter-section-start-small: 5rem;
$gutter-section-end-small: 11rem;

$gutter-horizontal-tab: 6rem;
$gutter-section-start-tab: 5rem;
$gutter-section-end-tab: 9rem;

$gutter-horizontal-min: 4rem;
$gutter-section-start-min: 5rem;
$gutter-section-end-min: 7rem;

$gutter-horizontal-micro: 3rem;
$gutter-section-start-micro: 5rem;
$gutter-section-end-micro: 7rem;

$gutter-horizontal-large: 45rem;
$gutter-section-start-large: 7rem;
$gutter-section-end-large: 14rem;

//old colors
// $color-primary: #117bfb;
// $color-primary: #ffcc73;
// $color-primary-dark: #a58752;
// $color-secondary: #040f2b;
// $color-dark: #191d28;
// $color-x-dark: #161922;

// $color-white: #ffffff;
// $color-black: #040f2b;

// $color-grey-dark: #333;
// $color-grey-light: rgb(197, 197, 197);
// $color-grey: #555;
