*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // This defines what 1rem is (currently 10px)
    font-size: 62.5%;

    @include respond(small-deskt) {
        font-size: 59%;
    }

    @include respond(tab-land) {
        font-size: 56.2%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(big-deskt) {
        font-size: 80%;
    }
    @include respond(4k-deskt) {
        font-size: 95%;
    }
}

body {
    background-color: $color-dark;
    box-sizing: border-box;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    text-decoration: none;
    border: none;
    font: inherit;
    background-color: inherit;
    color: inherit;
    outline: none;
}
