.u-color-primary {
    color: $color-primary;
}

.u-centered {
    display: flex;
    justify-content: center;
}

.u-right {
    display: flex;
    justify-content: flex-end;
}

.u-x-margin-top {
    margin-top: 10rem;
}

.u-b-margin-top {
    margin-top: 6rem;
}

.u-m-margin-top {
    margin-top: 3rem;
}

.u-m-margin-left {
    margin-left: 3rem;
}

.u-b-margin-left {
    margin-left: 6rem;
}

.u-x-margin-left {
    margin-left: 10rem;
}

.u-xx-margin-left {
    margin-left: 15rem;

    @include respond(tab-port) {
        margin-left: 10rem;
    }
    @include respond(phone) {
        margin-left: 7rem;
    }
}

.u-m-margin-right {
    margin-left: 3rem;
}

.u-m-padding-right {
    padding-right: 3rem;
}

.u-m-padding-left {
    padding-left: 3rem;
}

.u-normal-wordspacing {
    word-spacing: normal;
}

.u-pos-relative {
    position: relative;
}

.u-full-size {
    width: 100%;
    height: 100%;
}
