.col-1-of-2 {
    width: 50%;
}

.col-1-of-3 {
    width: 33%;
}

.col-2-of-3 {
    width: 66%;
}

.col-1-of-2,
.col-1-of-3,
.col-2-of-3 {
    &--tab-wrap {
        @include respond(small-tab-port) {
            width: 95%;
            margin: 2rem auto;
            max-width: 70rem;
        }
    }

    &--phone-wrap {
        @include respond(phone) {
            width: 95%;
            margin: 2rem auto;
            max-width: 70rem;
        }
    }
}

.row {
    width: 95%;
    margin: 2rem auto;
    max-width: 120rem;

    @include respond(small-tab-port) {
        max-width: 70rem;
    }
}
