.header {
    height: 100vh;
    position: relative;
    background-color: $color-dark;

    &__heading-box {
        position: absolute;
        top: 52%;
        left: 40%;
        transform: translate(-50%, -50%);
        text-align: left;

        @include respond(small-tab-port) {
            width: 80%;
            left: 50%;
        }

        @include respond(small-phone) {
            top: 48%;
        }
    }

    &__heading-top {
        font-size: 2rem;
        color: $color-primary;
        font-weight: 600;
        position: relative;
        padding-left: 5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;

        &:before {
            display: block;
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 3.5rem;
            height: 2px;
            background-color: $color-primary;
        }

        @include respond(small-phone) {
            font-size: 1.6rem;
        }
    }

    &__about {
        display: block;
        font-size: 2rem;
        color: $color-white;
        font-weight: 300;
        max-width: 70rem;
        margin-bottom: 4rem;

        @include respond(small-phone) {
            font-size: 1.7rem;
        }
    }

    &__heading-primary {
        font-size: 5.5rem;
        color: $color-white;
        font-weight: 600;

        @include respond(phone) {
            font-size: 4.5rem;
            line-height: 5rem;
            margin: 2.5rem 0;
        }

        @include respond(small-phone) {
            font-size: 4.2rem;
            line-height: 4.5rem;
            margin: 2rem 0;
        }
    }
    &__heading-secondary {
        font-size: 2.5rem;
        color: $color-white;
        font-weight: 300;
        display: flex;
        justify-content: space-around;
        @include respond(small-phone) {
            font-size: 2rem;
        }
    }

    &__scroll-btn {
        color: $color-grey-light;
        position: absolute;
        right: 11.5%;
        bottom: 5rem;
        transform: translate(-50%, -50%);
        font-size: 3.8rem;
        transition: color 0.2s;
        cursor: pointer;

        &:hover {
            color: $color-primary;
        }

        @include respond(tab-port) {
            bottom: 7rem;
            right: 10rem;
        }

        @include respond(small-tab-port) {
            transform: translate(-50%, 0);
            bottom: 8rem;
            right: 18%;
        }
        @include respond(phone) {
            right: 16%;
        }

        @include respond(small-phone) {
            right: 6%;
            bottom: 5.4rem;
        }
    }

    &__socials {
        position: absolute;
        right: 9.5%;
        top: 50%;
        transform: translate(-50%, -50%);

        @include respond(tab-port) {
            right: 6rem;
        }

        @include respond(small-tab-port) {
            top: auto;
            right: auto;
            bottom: 8rem;
            left: 17rem;
            transform: translate(-50%, 0);
        }

        @include respond(small-phone) {
            left: 30%;
            bottom: 5.4rem;
        }
        @include respond(x-small-phone) {
            left: 34%;
        }
    }
}
