.navbar {
    display: flex;
    justify-content: space-between;
    padding: 4rem 12%;
    background-color: $color-dark;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: border 0.2s, box-shadow 0.2s, padding 0.2s;

    @include respond(small-deskt) {
        padding: 4rem 8%;
    }
    @include respond(tab-land) {
        padding: 4rem 5rem;
    }

    @include respond(tab-port) {
        justify-content: space-between;
        padding: 6rem 9%;
        align-items: center;
        position: fixed;
        z-index: 180;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $color-dark;

        &--sticked {
            padding: 5rem 9%;
            box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.25);
            border-bottom: 2px solid rgba($color-x-dark, 0.7);
        }
    }

    @include respond(phone) {
        &--sticked {
            padding: 4.5rem 9%;
        }
    }

    @include respond(small-phone) {
        padding: 3rem 9%;
        &--sticked {
            padding: 3rem 9%;
        }
    }
    @include respond(small-phone-land) {
        padding: 2rem 9%;
        &--sticked {
            padding: 2rem 9%;
        }
    }

    &--sticked {
    }
}
