.App {
    opacity: 0;
    &--show {
        animation: fade-in 0.6s ease-in-out;
        animation-fill-mode: forwards;
    }
}

.section {
    &--light,
    &--dark {
        padding: $gutter-section-start $gutter-horizontal $gutter-section-end $gutter-horizontal;
        position: relative;

        @include respond(small-deskt) {
            padding: $gutter-section-start-small $gutter-horizontal-small $gutter-section-end-small
                $gutter-horizontal-small;
        }
        @include respond(tab-land) {
            padding: $gutter-section-start-tab $gutter-horizontal-tab $gutter-section-end-tab
                $gutter-horizontal-tab;
        }
        @include respond(tab-port) {
            padding: $gutter-section-start-min $gutter-horizontal-min $gutter-section-end-min
                $gutter-horizontal-min;
        }
        @include respond(small-phone) {
            padding: $gutter-section-start-micro $gutter-horizontal-micro $gutter-section-end-micro
                $gutter-horizontal-micro;
        }
        @include respond(big-deskt) {
            padding: $gutter-section-start-large $gutter-horizontal-large $gutter-section-end-large
                $gutter-horizontal-large;
        }
    }

    &--light {
        background-color: $color-dark;
    }

    &--dark {
        background-color: $color-x-dark;
        color: $color-grey-light;
    }

    &--col {
        display: flex;
        justify-content: space-between;
    }

    &--col-tab-wrap {
        display: flex;
        justify-content: space-between;

        @include respond(small-tab-port) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
        }
    }

    &--col-phone-wrap {
        display: flex;
        justify-content: space-between;

        @include respond(phone) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
        }
    }

    &--row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
}

.section-skills {
    position: relative;

    &__title {
        transform: rotate(-90deg) translate(2rem, -120%);
        position: absolute;
        top: 50%;

        @include respond(small-tab-port) {
            position: relative;
            transform: none;
        }
    }

    &__others {
        color: $color-grey-light;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: justify;
        padding: 2rem 2rem 0 2rem;
        word-spacing: 0.6rem;

        @include respond(tab-port) {
            font-size: 1.6rem;
        }
        @include respond(small-tab-port) {
            font-size: 1.6rem;
            width: 95%;
            padding: 0;
            margin: 2rem auto;
            max-width: 70rem;
        }
    }

    &__container {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
    }

    &__icon {
        font-size: 6rem;
        color: white;
        margin: 1rem;

        &:hover {
            color: $color-primary;
        }
    }
}

.section-contact {
    &__container {
        position: relative;
    }
    &__socials {
        position: absolute;
        bottom: 0;
        left: -2.5rem;
        @include respond(phone) {
            right: 8rem;
            left: auto;
        }
        @include respond(small-phone) {
            right: 4rem;
        }
    }

    &__info {
        position: relative;
        @include respond(phone) {
            padding-bottom: 10rem;
        }
    }
}

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-dark;
    z-index: 10000;
    &__container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.3);
    }

    &--hidden {
        //animation: fade-out 0.2s ease-in-out;
        //animation-fill-mode: forwards;
        display: none;
    }
}

.footer {
}
