.section {
    &--light {
        padding: $gutter-section-start $gutter-horizontal $gutter-section-end $gutter-horizontal;
        background-color: $color-dark;
        position: relative;

        @include respond(tab-land) {
            padding: 3.5rem 0 8rem 0;
        }
        @include respond(tab-port) {
            padding: 3rem 0 6rem 0;
        }
    }

    &--dark {
        padding: $gutter-section-start $gutter-horizontal $gutter-section-end $gutter-horizontal;
        background-color: $color-x-dark;
        color: $color-grey-light;
        position: relative;

        @include respond(tab-land) {
            padding: 3.5rem 0 8rem 0;
        }
        @include respond(tab-port) {
            padding: 3rem 0 6rem 0;
        }
    }

    &--col {
        display: flex;
        justify-content: space-between;
    }
}

.section-about {
}

.section-contact {
    &__container {
        position: relative;
    }
    &__socials {
        position: absolute;
        bottom: 0;
        left: -2.5rem;
    }
}

.footer {
}
