.contact-form {
    display: block;
    margin: 0rem 0rem 0rem 10%;
    width: 90%;
    background-color: $color-dark;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
    padding: 5.5rem 5rem 4rem 5rem;

    @include respond(phone) {
        margin: 1rem 0;
        width: 100%;
    }

    &__input-box {
        width: 100%;
        position: relative;
        padding-top: 1.5rem;
        margin-bottom: 4.5rem;
        height: 4rem;
    }

    &__textarea-box {
        width: 100%;
        position: relative;
        padding-top: 1.5rem;
        margin-bottom: 4rem;
        height: 10.5rem;
    }

    &__label {
        position: absolute;
        font-size: 2.2rem;
        bottom: 0.2rem;
        left: 0;
        color: $color-grey;
        z-index: 0;
        user-select: none;
        transform: translateY(0);
        transition: all 0.2s;

        &--selected {
            transform: translateY(-3.2rem);
            font-size: 1.6rem;
            color: $color-primary;
        }

        &--selected-high {
            transform: translateY(-9.7rem);
            font-size: 1.6rem;
            color: $color-primary;
        }
    }

    &__input,
    &__textarea {
        height: 100%;
        z-index: 100;
        width: 100%;
        border: none;
        text-decoration: none;
        background-color: transparent;
        font: inherit;
        font-size: 2rem;
        outline: none;
        border-bottom: 2px solid $color-grey-dark;
        color: $color-grey-light;
        position: absolute;
        top: 0;
        left: 0;

        transition: all 0.2s;
        resize: none;
        overflow: visible;

        &:focus {
            border-bottom: 2px solid $color-grey;
        }
    }

    &__textarea {
        font-size: 2rem;
    }

    &__input:focus + &__label {
        transform: translateY(-3.2rem);
        font-size: 1.6rem;
        color: $color-primary;
    }

    &__textarea:focus + &__label {
        transform: translateY(-9.7rem);
        font-size: 1.6rem;
        color: $color-primary;
    }

    &__btns {
        margin-top: 6rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

        align-items: center;
    }

    &__loader-box {
        height: 7rem;
        overflow: hidden;
        width: 60%;
        max-width: 40rem;
        text-align: left;
        display: flex;
        justify-self: start;
        align-items: center;
    }

    &__info {
        font-size: 1.5rem;
        color: $color-primary;

        animation: fade-in-fade-out 4s ease-in-out;
        animation-fill-mode: forwards;
        user-select: none;

        &--error {
            animation: fade-in-fade-out 5.5s ease-in-out;
            color: $color-danger;
        }
    }
}
