.desktop-nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: $color-white;

    @include respond(tab-port) {
        display: none;
    }
    z-index: 180;

    &__item {
        text-decoration: none;
        color: $color-grey-light;
        display: block;

        font-size: 1.6rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;

        transition: all 0.2s;
        user-select: none;
        align-items: center;
        height: auto;

        @include respond(tab-land) {
            padding: 1rem 1.2rem;
            font-size: 1.6rem;
        }

        &:after {
            content: '';
            display: block;
            margin: 0.4rem auto;
            width: 0;
            backface-visibility: hidden;
            height: 1px;
            background-color: $color-primary;
            transition: width 0.2s;
            transform: translateY(-0.7rem);
        }

        &:hover {
            color: $color-primary;

            &:after {
                width: 60%;
                opacity: 1;
            }
        }
        display: flex;
        flex-direction: column;
    }

    &__link {
        padding: 1rem 2.5rem;
        cursor: pointer;
    }
}
