.language {
    color: $color-grey-light;
    transform: translateY(0.5rem);
    z-index: 150;
    margin-left: 2rem;

    @include respond(tab-port) {
        display: none;
    }

    &__btn {
        &--selected {
            color: $color-primary;
            font-weight: 300;
            cursor: pointer;
        }

        font-weight: 300;
        font-size: 1.8rem;
        cursor: pointer;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $color-grey-light;
            transition: all 0.2s;
            opacity: 0;
        }

        &:hover {
            &:after {
                opacity: 1;
            }
        }

        transition: all 0.2s;
    }

    user-select: none;
}

.language-mobile {
    color: $color-grey-light;
    display: flex;
    width: 100%;

    &__btn {
        width: 50%;
        &--selected {
            color: $color-dark;
            background-color: $color-primary;
            cursor: pointer;
        }

        font-weight: 300;
        font-size: 1.6rem;
        padding: 0.7rem 0;
        cursor: pointer;
        background-color: $color-xx-dark;

        transition: all 0.2s;

        &:last-child {
            border-left: none;
        }
    }

    user-select: none;
}
