.linker {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 5.5rem;
    height: 2rem;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);

    &--dark {
        background-color: $color-x-dark;
    }

    &--light {
        background-color: $color-dark;
    }
}
