.logo {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 4.1rem;
    z-index: 10;

    &__firstName {
        color: $color-white;
        padding: 0.3rem 0.6rem;
    }

    &__lastName {
        padding: 0.3rem 0.6rem;
        background-color: $color-white;
        color: $color-dark;
    }
}
