.portable-nav {
    display: block;
    position: fixed;
    right: 5%;
    top: 8rem;
    width: 10rem;
    height: 10rem;
    z-index: 200;
    animation: fade-in 0.3s ease-out;

    @include respond(small-deskt) {
        right: 3%;
    }

    &__links {
        position: absolute;
        top: 0;
        right: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, 0.3);

        margin-top: -1.2rem;
        margin-right: 3rem;
        animation: move-in-left 0.2s ease-out;
    }

    &__element {
        font-size: 2rem;

        color: $color-grey-light;
        background-color: $color-dark;
        backface-visibility: hidden;
        cursor: pointer;
        user-select: none;

        transition: color 0.2s, transform 0.2s;

        &:nth-child(even) {
            background-color: $color-x-dark;
        }

        &:hover {
            color: $color-primary;
            transform: scale(1.1);
        }
        display: flex;
    }

    &__link {
        padding: 1rem 2.5rem;
        flex-shrink: 0;
    }
}
