.projects {
    display: block;

    &__filter {
        display: flex;
        justify-content: space-between;
        margin: 2.5rem 15rem;

        @include respond(small-deskt) {
            margin: 2.5rem 12rem;
        }

        @include respond(tab-port) {
            margin: 2.5rem 10rem;
        }

        @include respond(small-tab-port) {
            margin: 2.5rem auto;
        }
    }

    &__filter-btn {
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: 1.7rem;
        text-transform: uppercase;
        transition: all 0.2s;
        font-weight: 300;

        &:hover {
            transform: scale(1.15);
        }

        &--active {
            color: $color-primary;
        }

        &--passive-active {
            color: $color-primary-dark;
        }
    }

    &__container {
        overflow: hidden;
        margin-top: 6rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5rem;

        @include respond(tab-port) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include respond(phone) {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 4rem;
        }
    }

    &__card {
        &--x-double {
            grid-column: 2/4;
        }

        &--y-double {
            grid-row: 1/3;
        }
    }

    &__btn {
        margin: 6rem auto 0 auto;
        text-align: center;
        &--off {
            opacity: 60%;
        }
    }
}
