.progressbar {
    display: block;
    margin: 0rem 0rem 0rem 0rem;
    margin: 3.5rem 2rem;
    font-size: 1.6rem;

    @include respond(small-tab-port) {
        font-size: 1.8rem;
        margin: 2.5rem 0;
    }
    @include respond(small-phone) {
        font-size: 1.7rem;
    }

    &__bar {
        height: 5px;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 0.5rem;
    }

    &__label {
        display: block;
        width: 50%;
        color: $color-grey-light;
        text-transform: uppercase;
        transition: color 0.2s;
    }

    &__percentage-label {
        position: absolute;
        top: -0.5rem;
        right: 0;
        transform: translate(50%, -100%);
        color: $color-grey-light;
        transition: color 0.2s;
    }

    &__filled {
        display: block;
        background-color: $color-grey-light;
        height: 100%;
        position: relative;
        transition: background-color 0.2s;
    }

    &__empty {
        display: block;
        background-color: $color-grey-dark;
        height: 100%;
    }

    &:hover &__label,
    &:hover &__percentage-label {
        color: $color-primary;
    }

    &:hover &__filled {
        background-color: $color-primary;
    }
}
