.select-input {
    position: relative;
    width: 90%;
    max-width: 28rem;
    cursor: pointer;

    &__header {
        width: 100%;
        padding: 0.3rem 1rem 0.3rem 2rem;
        font-size: 2rem;
        border: 1px solid $color-primary;
        color: $color-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
        font-size: 4rem;
    }

    &__drop-down {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
        border: 1px solid $color-primary;
        border-top: none;
    }

    &__element {
        width: 100%;
        font-size: 1.9rem;
        color: $color-white;
        background-color: $color-dark;
        padding: 1.2rem 2rem;

        &:nth-child(even) {
            background-color: $color-x-dark;
        }

        &:hover {
            color: $color-primary;
        }
    }
}
