.socials-bar {
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--horizontal {
            flex-direction: row;
            max-width: 24rem;
        }

        &--vertical {
            flex-direction: column;
        }
    }

    &__element {
        padding: 0.6rem 2.5rem;
        color: $color-grey-light;
        font-size: 2.6rem;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            color: $color-primary;
            transform: scale(1.2);
        }

        @include respond(tab-port) {
            font-size: 2.8rem;
        }

        @include respond(small-tab-port) {
            font-size: 3rem;
        }

        @include respond(phone) {
            padding: 0.6rem 1.8rem;
        }
    }

    &:hover &__element:not(:hover) {
        transform: scale(0.86);
    }
}
